.body {
    font-family: "Arial", sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .App {
    width: 80%;
    background:linear-gradient( to bottom right,rgb(255, 255, 255),rgb(32, 0, 150));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 110px;
  }
  
  h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  